<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.feralcreative.keywords</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0DE119B3-345C-4405-B7B7-63DBA64FCB18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F70F7AB-3C17-46E9-9FE3-7F35111A89FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>11ACAB98-22C5-44E4-89E1-C981FDCFFD5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C47E0FC-F27D-47B3-9DD3-EED7BD8D18E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1605DC70-FBA8-49D8-A9FF-C09E0A011D8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51489885-CE3C-42FD-AA6A-55EED3076260</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40695633-D373-4B25-843E-5CB525D29C9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7AC245C-6783-43F5-8BB7-97C4F74427C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50BCBAD2-69EA-44B3-8B6B-EE6DAF3E6265</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EE337CD-8447-48B0-994E-931206864AEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D7BA42E-0DCE-4A8F-BE41-C732DB6F5950</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40F25D4D-9A11-46EE-BF96-449A331F9B26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60F002BF-EEEA-4F92-9DE5-0F10A8D5EA6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1AE7DD9-F402-472D-AA91-DD237B2A9E9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DF98729-0954-46FB-B19D-60DCBC04EBD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21325EC8-3D07-4AF7-8983-1AF5F8D8303F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B6DE2D3-49DA-4444-A142-F724B1C88AF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70301BA3-E7C3-48FA-93B4-D1F9FAE894E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8911864D-D01B-4A04-AEA2-3119A7602C42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FC57612-B4DD-43BA-944E-1C8267E0AFC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4935755-0016-47AF-B59B-2528BED3FC23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A85D3C9A-1E35-4DBE-9B37-942C4EC11EB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C436EAEE-697A-4DB1-A72A-8E0ED7B0D4CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A833C84-0ED2-4E77-B65A-82BBA390409C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D72D63BF-2DED-499C-948E-F5CB5F63F022</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60F002BF-EEEA-4F92-9DE5-0F10A8D5EA6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9BA41EE-C7D9-4669-B9A5-C79CF8537A5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0328E8A-0964-4985-A0BA-E8B492DED505</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F06CD0CC-33C1-4F4F-A433-722DB5151407</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFAB9486-217A-45CB-916D-A61B5F345E4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ziad Ezzat</string>
	<key>description</key>
	<string>CSV-driven shortcuts for files, web, and apps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Feral Keywords</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>scans</string>
				<key>subtext</key>
				<string>Personal document scans</string>
				<key>text</key>
				<string>Scans</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4935755-0016-47AF-B59B-2528BED3FC23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/Feral SSD/Dropbox (Personal)/_Personal/_scans</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A85D3C9A-1E35-4DBE-9B37-942C4EC11EB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wtf</string>
				<key>subtext</key>
				<string>Folder for Storage of Only the Dankest Maymays</string>
				<key>text</key>
				<string>WTF</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>40695633-D373-4B25-843E-5CB525D29C9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/Feral SSD/Dropbox (Personal)/wtf</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B7AC245C-6783-43F5-8BB7-97C4F74427C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>screenshots</string>
				<key>subtext</key>
				<string>Screenshots folder</string>
				<key>text</key>
				<string>Screenshots Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1605DC70-FBA8-49D8-A9FF-C09E0A011D8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/Feral SSD/Dropbox (Personal)/Screenshots</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>51489885-CE3C-42FD-AA6A-55EED3076260</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ndr</string>
				<key>subtext</key>
				<string>Westwood &gt; assets &gt; charts &gt; ned-davis-charts</string>
				<key>text</key>
				<string>Ned Davis Charts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F06CD0CC-33C1-4F4F-A433-722DB5151407</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/Feral SSD/Dropbox (Personal)/_FERAL/Westwood/assets/charts/ned-davis-charts</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>BFAB9486-217A-45CB-916D-A61B5F345E4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>www</string>
				<key>subtext</key>
				<string>Development projects directory</string>
				<key>text</key>
				<string>WWW Directory</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5D7BA42E-0DCE-4A8F-BE41-C732DB6F5950</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/www</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>40F25D4D-9A11-46EE-BF96-449A331F9B26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cu</string>
				<key>subtext</key>
				<string>ClickUp project management</string>
				<key>text</key>
				<string>Open Clickup Dashboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8911864D-D01B-4A04-AEA2-3119A7602C42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.clickup.com/9014243918/dashboards/8cmmwje-13934</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6FC57612-B4DD-43BA-944E-1C8267E0AFC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nas</string>
				<key>subtext</key>
				<string>NAS web interface</string>
				<key>text</key>
				<string>Feral Creative NAS</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7B6DE2D3-49DA-4444-A142-F724B1C88AF6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://nas.feralcreative.co</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>70301BA3-E7C3-48FA-93B4-D1F9FAE894E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cloud</string>
				<key>subtext</key>
				<string>Cloudflare dashboard</string>
				<key>text</key>
				<string>Cloudflare Account</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>11ACAB98-22C5-44E4-89E1-C981FDCFFD5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://dash.cloudflare.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8C47E0FC-F27D-47B3-9DD3-EED7BD8D18E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sonarr</string>
				<key>subtext</key>
				<string>Sonarr TV management</string>
				<key>text</key>
				<string>Load Sonarr</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D9BA41EE-C7D9-4669-B9A5-C79CF8537A5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://feralcreative.synology.me:8989</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F0328E8A-0964-4985-A0BA-E8B492DED505</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>radarr</string>
				<key>subtext</key>
				<string>Radarr movie management</string>
				<key>text</key>
				<string>Load Radarr</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>50BCBAD2-69EA-44B3-8B6B-EE6DAF3E6265</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://feralcreative.synology.me:7878</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5EE337CD-8447-48B0-994E-931206864AEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sabnzbd</string>
				<key>subtext</key>
				<string>SABnzbd download management</string>
				<key>text</key>
				<string>Load SABnzbd</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C436EAEE-697A-4DB1-A72A-8E0ED7B0D4CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://feralcreative.synology.me:8080</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1A833C84-0ED2-4E77-B65A-82BBA390409C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>faf</string>
				<key>subtext</key>
				<string>Find Any File application</string>
				<key>text</key>
				<string>Find any File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0DE119B3-345C-4405-B7B7-63DBA64FCB18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Find Any File.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>4F70F7AB-3C17-46E9-9FE3-7F35111A89FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gclear</string>
				<key>subtext</key>
				<string>Clear Google File Stream Cache</string>
				<key>text</key>
				<string>Clear Drive Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6DF98729-0954-46FB-B19D-60DCBC04EBD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env zsh
# Clear Google Drive cache
find ~/Library/Application\ Support/Google/DriveFS -type d -exec test -e '{}'/content_cache \; -exec rm -rf {}/content_cache \;

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>21325EC8-3D07-4AF7-8983-1AF5F8D8303F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>&gt;&gt;</string>
				<key>subtext</key>
				<string>// v00.00 - 0000.00.00.0000</string>
				<key>text</key>
				<string>Version Snippet</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D72D63BF-2DED-499C-948E-F5CB5F63F022</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env zsh

# Get the argument passed (the two-digit number)
number="$1"

# Validate that the number consists of exactly two digits
if [[ ! "$number" =~ ^[0-9]{2}$ ]]; then
    echo "Error: Please enter exactly two digits after &gt;&gt; (e.g., &gt;&gt;43)"
    exit 1
fi

# Get current date and time in YYYY.mm.dd.HHMM format
datetime=$(date +"%Y.%m.%d.%H%M")

# Construct the replacement string
replacement="// v00.${number} - ${datetime}"

# Copy the replacement string to the clipboard
echo "$replacement" | pbcopy

# Output the replacement string for the next action
echo "$replacement"

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>60F002BF-EEEA-4F92-9DE5-0F10A8D5EA6A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>F1AE7DD9-F402-472D-AA91-DD237B2A9E9C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Feral Keywords - CSV-Driven Workflow

This workflow is now CSV-driven for easy maintenance.

## Quick Start

1. Edit CSV files to add/modify shortcuts:
   - shortcuts-files.csv (file/folder shortcuts)
   - shortcuts-web.csv (web shortcuts)
   - shortcuts-apps.csv (app shortcuts)

2. Rebuild the workflow:
   ./rebuild.sh

3. Reload in Alfred

## Current Shortcuts

Files: scans, wtf, screenshots, ndr, www
Web: cu, nas, cloud, sonarr
Apps: faf
Utils: gclear, &gt;&gt;

See README.md for full documentation.
</string>
	<key>uidata</key>
	<dict>
		<key>0DE119B3-345C-4405-B7B7-63DBA64FCB18</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1310.0</real>
		</dict>
		<key>11ACAB98-22C5-44E4-89E1-C981FDCFFD5C</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>870.0</real>
		</dict>
		<key>1605DC70-FBA8-49D8-A9FF-C09E0A011D8F</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
		<key>1A833C84-0ED2-4E77-B65A-82BBA390409C</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1200.0</real>
		</dict>
		<key>21325EC8-3D07-4AF7-8983-1AF5F8D8303F</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1420.0</real>
		</dict>
		<key>40695633-D373-4B25-843E-5CB525D29C9D</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>210.0</real>
		</dict>
		<key>40F25D4D-9A11-46EE-BF96-449A331F9B26</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>540.0</real>
		</dict>
		<key>4F70F7AB-3C17-46E9-9FE3-7F35111A89FA</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1310.0</real>
		</dict>
		<key>50BCBAD2-69EA-44B3-8B6B-EE6DAF3E6265</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1090.0</real>
		</dict>
		<key>51489885-CE3C-42FD-AA6A-55EED3076260</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
		<key>5D7BA42E-0DCE-4A8F-BE41-C732DB6F5950</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>540.0</real>
		</dict>
		<key>5EE337CD-8447-48B0-994E-931206864AEE</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1090.0</real>
		</dict>
		<key>60F002BF-EEEA-4F92-9DE5-0F10A8D5EA6A</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1530.0</real>
		</dict>
		<key>6DF98729-0954-46FB-B19D-60DCBC04EBD9</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1420.0</real>
		</dict>
		<key>6FC57612-B4DD-43BA-944E-1C8267E0AFC1</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>650.0</real>
		</dict>
		<key>70301BA3-E7C3-48FA-93B4-D1F9FAE894E2</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>760.0</real>
		</dict>
		<key>7B6DE2D3-49DA-4444-A142-F724B1C88AF6</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>760.0</real>
		</dict>
		<key>8911864D-D01B-4A04-AEA2-3119A7602C42</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>650.0</real>
		</dict>
		<key>8C47E0FC-F27D-47B3-9DD3-EED7BD8D18E8</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>870.0</real>
		</dict>
		<key>A85D3C9A-1E35-4DBE-9B37-942C4EC11EB4</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>B4935755-0016-47AF-B59B-2528BED3FC23</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>B7AC245C-6783-43F5-8BB7-97C4F74427C7</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>210.0</real>
		</dict>
		<key>BFAB9486-217A-45CB-916D-A61B5F345E4F</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>430.0</real>
		</dict>
		<key>C436EAEE-697A-4DB1-A72A-8E0ED7B0D4CE</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1200.0</real>
		</dict>
		<key>D72D63BF-2DED-499C-948E-F5CB5F63F022</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1530.0</real>
		</dict>
		<key>D9BA41EE-C7D9-4669-B9A5-C79CF8537A5F</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>980.0</real>
		</dict>
		<key>F0328E8A-0964-4985-A0BA-E8B492DED505</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>980.0</real>
		</dict>
		<key>F06CD0CC-33C1-4F4F-A433-722DB5151407</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>430.0</real>
		</dict>
		<key>F1AE7DD9-F402-472D-AA91-DD237B2A9E9C</key>
		<dict>
			<key>xpos</key>
			<real>450.0</real>
			<key>ypos</key>
			<real>1530.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>http://feralcreative.co</string>
</dict>
</plist>
