<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.feralcreative.keywords</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>12ECBB00-890B-4A95-90F5-A3DABC0C0985</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE801CB2-06CC-4301-9139-7A30904F8948</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17D578A0-6340-48AC-9917-2CF61A343634</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0A01C1F-EB78-4B8E-91AD-26AC93B8F1AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3312F2CD-8156-483C-969B-55D412564B0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67FC52B3-1B2D-4381-8F22-8C8BCDBBB9D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>393ADE89-2537-4D5D-B18A-F9A0E0C22077</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>072933AB-CC17-4D1D-8D1C-551989F3E3B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E39C66E-D758-4624-AAA0-D9BB63F6502B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99479B66-AB42-44D9-98E1-32FBC6C62231</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65DD3C1B-6C66-46AC-AAC3-D48C06802837</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE5303B1-6A91-4250-91B8-C1320822D9E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67FC52B3-1B2D-4381-8F22-8C8BCDBBB9D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69C66347-BDEF-4B76-8295-ED578C1F5D2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69FC9888-F5A5-4A4A-98B5-8E6C0E11D8C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDE573E8-DFC8-461F-BC81-7D2FE60682EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70DFFD94-5EF4-4F91-BE6C-76C9D07C98BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5101CC9-74B6-435C-8B57-A2C00A6452BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79814CF2-45EA-4AF6-BA44-8793F321405B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>886C64E8-D578-4323-9B54-AC596B535E9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A71124C-4D8F-49F5-BA9F-F80C4FCB001F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D05A86CE-6C5D-45CD-B33D-57F51AC4E313</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7AEF8D9-0DF3-47AF-AB58-052C9DABA9DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>437122BA-43A7-4700-B59D-61BD9651E83D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB01118F-BB7B-4BA4-9606-943DEDFAA34F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2204D797-F1FF-4E3E-8AD3-B2C35BD4EA22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9D3428D-92BA-4267-8871-9189676A2A09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6B9DB74-C289-44E0-86E7-0202B2C46D88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE77A3F7-645A-40B1-BD2B-87F6F25D37FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>808DC2CE-EE6B-4994-87E4-B4E126C66312</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F64B2A6F-A56C-443E-B651-209DCF15F145</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AC45407-9697-4590-AD2B-2148612BEB62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ziad Ezzat</string>
	<key>description</key>
	<string>CSV-driven shortcuts for files, web, and apps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Feral Keywords</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>scans</string>
				<key>subtext</key>
				<string>Personal document scans</string>
				<key>text</key>
				<string>Scans</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>17D578A0-6340-48AC-9917-2CF61A343634</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Check which path exists and open it
path1="/Volumes/Feral SSD/Dropbox (Personal)/_Personal/_scans"
path2="~/Library/CloudStorage/Dropbox-Personal/hobbs.ezzat.com/_scans"

# Expand tilde in paths
path1="${path1/#\~/$HOME}"
path2="${path2/#\~/$HOME}"

if [ -e "$path1" ]; then
    open "$path1"
elif [ -e "$path2" ]; then
    open "$path2"
else
    osascript -e 'display notification "Neither path exists" with title "Path Not Found"'
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0A01C1F-EB78-4B8E-91AD-26AC93B8F1AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wtf</string>
				<key>subtext</key>
				<string>Folder for Storage of Only the Dankest Maymays</string>
				<key>text</key>
				<string>WTF</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5E39C66E-D758-4624-AAA0-D9BB63F6502B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Check which path exists and open it
path1="/Volumes/Feral SSD/Dropbox (Personal)/wtf"
path2="~/Library/CloudStorage/Dropbox-Personal/wtf"

# Expand tilde in paths
path1="${path1/#\~/$HOME}"
path2="${path2/#\~/$HOME}"

if [ -e "$path1" ]; then
    open "$path1"
elif [ -e "$path2" ]; then
    open "$path2"
else
    osascript -e 'display notification "Neither path exists" with title "Path Not Found"'
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>99479B66-AB42-44D9-98E1-32FBC6C62231</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>screenshots</string>
				<key>subtext</key>
				<string>Screenshots folder</string>
				<key>text</key>
				<string>Screenshots Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>12ECBB00-890B-4A95-90F5-A3DABC0C0985</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Check which path exists and open it
path1="/Volumes/Feral SSD/Dropbox (Personal)/Screenshots"
path2="~/Library/CloudStorage/Dropbox-Personal/Screenshots"

# Expand tilde in paths
path1="${path1/#\~/$HOME}"
path2="${path2/#\~/$HOME}"

if [ -e "$path1" ]; then
    open "$path1"
elif [ -e "$path2" ]; then
    open "$path2"
else
    osascript -e 'display notification "Neither path exists" with title "Path Not Found"'
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE801CB2-06CC-4301-9139-7A30904F8948</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ndr</string>
				<key>subtext</key>
				<string>Westwood &gt; assets &gt; charts &gt; ned-davis-charts</string>
				<key>text</key>
				<string>Ned Davis Charts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>65DD3C1B-6C66-46AC-AAC3-D48C06802837</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Check which path exists and open it
path1="/Volumes/Feral SSD/Dropbox (Personal)/_FERAL/Westwood/assets/charts/ned-davis-charts"
path2="~/Library/CloudStorage/Dropbox-Personal/_FERAL/Westwood/assets/charts/ned-davis-charts"

# Expand tilde in paths
path1="${path1/#\~/$HOME}"
path2="${path2/#\~/$HOME}"

if [ -e "$path1" ]; then
    open "$path1"
elif [ -e "$path2" ]; then
    open "$path2"
else
    osascript -e 'display notification "Neither path exists" with title "Path Not Found"'
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EE5303B1-6A91-4250-91B8-C1320822D9E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>www</string>
				<key>subtext</key>
				<string>Development projects directory</string>
				<key>text</key>
				<string>WWW Directory</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B7AEF8D9-0DF3-47AF-AB58-052C9DABA9DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/www</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>437122BA-43A7-4700-B59D-61BD9651E83D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cu</string>
				<key>subtext</key>
				<string>ClickUp project management</string>
				<key>text</key>
				<string>Open Clickup Dashboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9A71124C-4D8F-49F5-BA9F-F80C4FCB001F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>at.obdev.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.clickup.com/9014243918/dashboards/8cmmwje-13934</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D05A86CE-6C5D-45CD-B33D-57F51AC4E313</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>icon</key>
				<dict>
					<key>path</key>
					<string>icons/nas.png</string>
				</dict>
				<key>keyword</key>
				<string>nas</string>
				<key>subtext</key>
				<string>NAS web interface</string>
				<key>text</key>
				<string>Feral Creative NAS</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9D3428D-92BA-4267-8871-9189676A2A09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>at.obdev.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://nas.feralcreative.co</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F6B9DB74-C289-44E0-86E7-0202B2C46D88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cloud</string>
				<key>subtext</key>
				<string>Cloudflare dashboard</string>
				<key>text</key>
				<string>Cloudflare Account</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>70DFFD94-5EF4-4F91-BE6C-76C9D07C98BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>at.obdev.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://dash.cloudflare.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A5101CC9-74B6-435C-8B57-A2C00A6452BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>icon</key>
				<dict>
					<key>path</key>
					<string>icons/sonarr.png</string>
				</dict>
				<key>keyword</key>
				<string>sonarr</string>
				<key>subtext</key>
				<string>Sonarr TV management</string>
				<key>text</key>
				<string>Load Sonarr</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F64B2A6F-A56C-443E-B651-209DCF15F145</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>at.obdev.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://feralcreative.synology.me:8989</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9AC45407-9697-4590-AD2B-2148612BEB62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>icon</key>
				<dict>
					<key>path</key>
					<string>icons/radarr.png</string>
				</dict>
				<key>keyword</key>
				<string>radarr</string>
				<key>subtext</key>
				<string>Radarr movie management</string>
				<key>text</key>
				<string>Load Radarr</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>393ADE89-2537-4D5D-B18A-F9A0E0C22077</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>at.obdev.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://feralcreative.synology.me:7878</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>072933AB-CC17-4D1D-8D1C-551989F3E3B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>icon</key>
				<dict>
					<key>path</key>
					<string>icons/sabnzbd.png</string>
				</dict>
				<key>keyword</key>
				<string>sabnzbd</string>
				<key>subtext</key>
				<string>SABnzbd download management</string>
				<key>text</key>
				<string>Load SABnzbd</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>69FC9888-F5A5-4A4A-98B5-8E6C0E11D8C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>at.obdev.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://feralcreative.synology.me:8080</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CDE573E8-DFC8-461F-BC81-7D2FE60682EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>icon</key>
				<dict>
					<key>path</key>
					<string>icons/faf.png</string>
				</dict>
				<key>keyword</key>
				<string>faf</string>
				<key>subtext</key>
				<string>Find Any File application</string>
				<key>text</key>
				<string>Find any File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EE77A3F7-645A-40B1-BD2B-87F6F25D37FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Find Any File.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>808DC2CE-EE6B-4994-87E4-B4E126C66312</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gclear</string>
				<key>subtext</key>
				<string>Clear Google File Stream Cache</string>
				<key>text</key>
				<string>Clear Drive Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>79814CF2-45EA-4AF6-BA44-8793F321405B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env zsh
# Clear Google Drive cache
find ~/Library/Application\ Support/Google/DriveFS -type d -exec test -e '{}'/content_cache \; -exec rm -rf {}/content_cache \;

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>886C64E8-D578-4323-9B54-AC596B535E9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>&gt;&gt;</string>
				<key>subtext</key>
				<string>// v00.00 - 0000.00.00.0000</string>
				<key>text</key>
				<string>Version Snippet</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3312F2CD-8156-483C-969B-55D412564B0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env zsh

# Get the argument passed (the two-digit number)
number="$1"

# Validate that the number consists of exactly two digits
if [[ ! "$number" =~ ^[0-9]{2}$ ]]; then
    echo "Error: Please enter exactly two digits after &gt;&gt; (e.g., &gt;&gt;43)"
    exit 1
fi

# Get current date and time in YYYY.mm.dd.HHMM format
datetime=$(date +"%Y.%m.%d.%H%M")

# Construct the replacement string
replacement="// v00.${number} - ${datetime}"

# Copy the replacement string to the clipboard
echo "$replacement" | pbcopy

# Output the replacement string for the next action
echo "$replacement"

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>67FC52B3-1B2D-4381-8F22-8C8BCDBBB9D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>69C66347-BDEF-4B76-8295-ED578C1F5D2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>f</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python3 ./utilities/feral-search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search files in _FERAL directory</string>
				<key>title</key>
				<string>Search _FERAL</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DB01118F-BB7B-4BA4-9606-943DEDFAA34F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2204D797-F1FF-4E3E-8AD3-B2C35BD4EA22</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Feral Keywords - CSV-Driven Workflow

This workflow is now CSV-driven for easy maintenance.

## Quick Start

1. Edit CSV files to add/modify shortcuts:
   - shortcuts-files.csv (file/folder shortcuts)
   - shortcuts-web.csv (web shortcuts)
   - shortcuts-apps.csv (app shortcuts)

2. Rebuild the workflow:
   ./rebuild.sh

3. Reload in Alfred

## Current Shortcuts

Files: scans, wtf, screenshots, ndr, www
Web: cu, nas, cloud, sonarr
Apps: faf
Utils: gclear, &gt;&gt;, fe

See README.md for full documentation.
</string>
	<key>uidata</key>
	<dict>
		<key>072933AB-CC17-4D1D-8D1C-551989F3E3B4</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1090.0</real>
		</dict>
		<key>12ECBB00-890B-4A95-90F5-A3DABC0C0985</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
		<key>17D578A0-6340-48AC-9917-2CF61A343634</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>2204D797-F1FF-4E3E-8AD3-B2C35BD4EA22</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1640.0</real>
		</dict>
		<key>3312F2CD-8156-483C-969B-55D412564B0F</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1530.0</real>
		</dict>
		<key>393ADE89-2537-4D5D-B18A-F9A0E0C22077</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1090.0</real>
		</dict>
		<key>437122BA-43A7-4700-B59D-61BD9651E83D</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>540.0</real>
		</dict>
		<key>5E39C66E-D758-4624-AAA0-D9BB63F6502B</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>210.0</real>
		</dict>
		<key>65DD3C1B-6C66-46AC-AAC3-D48C06802837</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>430.0</real>
		</dict>
		<key>67FC52B3-1B2D-4381-8F22-8C8BCDBBB9D5</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1530.0</real>
		</dict>
		<key>69C66347-BDEF-4B76-8295-ED578C1F5D2A</key>
		<dict>
			<key>xpos</key>
			<real>450.0</real>
			<key>ypos</key>
			<real>1530.0</real>
		</dict>
		<key>69FC9888-F5A5-4A4A-98B5-8E6C0E11D8C8</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1200.0</real>
		</dict>
		<key>70DFFD94-5EF4-4F91-BE6C-76C9D07C98BB</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>870.0</real>
		</dict>
		<key>79814CF2-45EA-4AF6-BA44-8793F321405B</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1420.0</real>
		</dict>
		<key>808DC2CE-EE6B-4994-87E4-B4E126C66312</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1310.0</real>
		</dict>
		<key>886C64E8-D578-4323-9B54-AC596B535E9A</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1420.0</real>
		</dict>
		<key>99479B66-AB42-44D9-98E1-32FBC6C62231</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>210.0</real>
		</dict>
		<key>9A71124C-4D8F-49F5-BA9F-F80C4FCB001F</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>650.0</real>
		</dict>
		<key>9AC45407-9697-4590-AD2B-2148612BEB62</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>980.0</real>
		</dict>
		<key>A5101CC9-74B6-435C-8B57-A2C00A6452BB</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>870.0</real>
		</dict>
		<key>B7AEF8D9-0DF3-47AF-AB58-052C9DABA9DE</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>540.0</real>
		</dict>
		<key>CDE573E8-DFC8-461F-BC81-7D2FE60682EC</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1200.0</real>
		</dict>
		<key>D05A86CE-6C5D-45CD-B33D-57F51AC4E313</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>650.0</real>
		</dict>
		<key>D0A01C1F-EB78-4B8E-91AD-26AC93B8F1AD</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>DB01118F-BB7B-4BA4-9606-943DEDFAA34F</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1640.0</real>
		</dict>
		<key>E9D3428D-92BA-4267-8871-9189676A2A09</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>760.0</real>
		</dict>
		<key>EE5303B1-6A91-4250-91B8-C1320822D9E8</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>430.0</real>
		</dict>
		<key>EE77A3F7-645A-40B1-BD2B-87F6F25D37FA</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1310.0</real>
		</dict>
		<key>F64B2A6F-A56C-443E-B651-209DCF15F145</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>980.0</real>
		</dict>
		<key>F6B9DB74-C289-44E0-86E7-0202B2C46D88</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>760.0</real>
		</dict>
		<key>FE801CB2-06CC-4301-9139-7A30904F8948</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.23</string>
	<key>webaddress</key>
	<string>http://feralcreative.co</string>
</dict>
</plist>
