<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.feralcreative.keywords</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>03A903B8-5A94-410F-B14D-43122D4D27F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F7B58FE-9144-4A12-A16F-B7E638874201</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1398AA56-0186-43A5-9552-A6203849E057</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFAA193F-43BA-426C-A247-0E06E6565F31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32B72B5A-E053-4524-803D-FC5D75C804FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D9F0355-88DE-42F4-8490-F9637FA247F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DEB010B-CDB1-46A3-A51F-08BD1E8CD2A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E16BE84-1370-4920-BC25-BE541A9AADC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51835E06-9213-43A0-B457-300509F93D84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>730AF293-9B90-4011-8617-C04F25FD7BD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60FA0B8E-2E24-44A1-97E2-048AD141F4CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FCAECC5-5EC0-4AE5-8AAE-829BB81F51A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79A613F1-3CE7-48F0-8976-C6E39C05B889</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35172154-FE79-40FD-84D4-1685C2497B34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D17B0DA-8163-4854-A806-3EEABB422A91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8348E892-4FE7-4BBF-B17B-760031DA9C99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A916CDD4-4FE8-47D2-ABF2-5F90DF774295</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB4AC72B-4B95-47FA-831C-165D6F41DA17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B26364AA-3E4F-41ED-B989-4A2931AD3A4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C187E8B1-016F-40A5-8998-E7481E131551</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3EEAA5B-74BA-4A3F-89F4-C2E4E9E558C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CF342DC-A63E-4A7B-9CE8-5DBC41668F42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8DAB9C7-77AC-4817-9B0E-16A751D25046</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>249F7E1B-4289-4252-AC78-9A570CA9ABCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C187E8B1-016F-40A5-8998-E7481E131551</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12653FE0-3551-4FC1-A758-B420D04921A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC53D194-AD4D-41CB-BDAE-4D75D4CA905D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDDCA8C8-9344-4341-96C6-7C5E2CEE2B92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5DB5072-8229-4419-9E1A-3A0DD3CC508A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A9E6F4C-B308-489B-BF17-FE494A7BA9A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB8EE018-F7A8-4BE3-BECD-99456AAE13C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D5D342C-6991-4F6A-ACE4-548F4E37296C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ziad Ezzat</string>
	<key>description</key>
	<string>CSV-driven shortcuts for files, web, and apps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Feral Keywords</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>scans</string>
				<key>subtext</key>
				<string>Personal document scans</string>
				<key>text</key>
				<string>Scans</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51835E06-9213-43A0-B457-300509F93D84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/Feral SSD/Dropbox (Personal)/_Personal/_scans</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>730AF293-9B90-4011-8617-C04F25FD7BD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>wtf</string>
				<key>subtext</key>
				<string>Folder for Storage of Only the Dankest Maymays</string>
				<key>text</key>
				<string>WTF</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1398AA56-0186-43A5-9552-A6203849E057</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/Feral SSD/Dropbox (Personal)/wtf</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>EFAA193F-43BA-426C-A247-0E06E6565F31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>screenshots</string>
				<key>subtext</key>
				<string>Screenshots folder</string>
				<key>text</key>
				<string>Screenshots Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4DEB010B-CDB1-46A3-A51F-08BD1E8CD2A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/Feral SSD/Dropbox (Personal)/Screenshots</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0E16BE84-1370-4920-BC25-BE541A9AADC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ndr</string>
				<key>subtext</key>
				<string>Westwood &gt; assets &gt; charts &gt; ned-davis-charts</string>
				<key>text</key>
				<string>Ned Davis Charts</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>03A903B8-5A94-410F-B14D-43122D4D27F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Volumes/Feral SSD/Dropbox (Personal)/_FERAL/Westwood/assets/charts/ned-davis-charts</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>3F7B58FE-9144-4A12-A16F-B7E638874201</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>www</string>
				<key>subtext</key>
				<string>Development projects directory</string>
				<key>text</key>
				<string>WWW Directory</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC53D194-AD4D-41CB-BDAE-4D75D4CA905D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/www</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>CDDCA8C8-9344-4341-96C6-7C5E2CEE2B92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cu</string>
				<key>subtext</key>
				<string>ClickUp project management</string>
				<key>text</key>
				<string>Open Clickup Dashboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5DB5072-8229-4419-9E1A-3A0DD3CC508A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.clickup.com/9014243918/dashboards/8cmmwje-13934</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1A9E6F4C-B308-489B-BF17-FE494A7BA9A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nas</string>
				<key>subtext</key>
				<string>NAS web interface</string>
				<key>text</key>
				<string>Feral Creative NAS</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>32B72B5A-E053-4524-803D-FC5D75C804FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://nas.feralcreative.co</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4D9F0355-88DE-42F4-8490-F9637FA247F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cloud</string>
				<key>subtext</key>
				<string>Cloudflare dashboard</string>
				<key>text</key>
				<string>Cloudflare Account</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60FA0B8E-2E24-44A1-97E2-048AD141F4CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://dash.cloudflare.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4FCAECC5-5EC0-4AE5-8AAE-829BB81F51A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sonarr</string>
				<key>subtext</key>
				<string>Sonarr TV management</string>
				<key>text</key>
				<string>Load Sonarr</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B8DAB9C7-77AC-4817-9B0E-16A751D25046</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://feralcreative.synology.me:8989</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>249F7E1B-4289-4252-AC78-9A570CA9ABCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>radarr</string>
				<key>subtext</key>
				<string>Radarr movie management</string>
				<key>text</key>
				<string>Load Radarr</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EB8EE018-F7A8-4BE3-BECD-99456AAE13C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://feralcreative.synology.me:7878</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3D5D342C-6991-4F6A-ACE4-548F4E37296C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sabnzbd</string>
				<key>subtext</key>
				<string>SABnzbd download management</string>
				<key>text</key>
				<string>Load SABnzbd</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>79A613F1-3CE7-48F0-8976-C6E39C05B889</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://feralcreative.synology.me:8080</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>35172154-FE79-40FD-84D4-1685C2497B34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>faf</string>
				<key>subtext</key>
				<string>Find Any File application</string>
				<key>text</key>
				<string>Find any File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D17B0DA-8163-4854-A806-3EEABB422A91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Find Any File.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>8348E892-4FE7-4BBF-B17B-760031DA9C99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gclear</string>
				<key>subtext</key>
				<string>Clear Google File Stream Cache</string>
				<key>text</key>
				<string>Clear Drive Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B3EEAA5B-74BA-4A3F-89F4-C2E4E9E558C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env zsh
# Clear Google Drive cache
find ~/Library/Application\ Support/Google/DriveFS -type d -exec test -e '{}'/content_cache \; -exec rm -rf {}/content_cache \;

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3CF342DC-A63E-4A7B-9CE8-5DBC41668F42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>&gt;&gt;</string>
				<key>subtext</key>
				<string>// v00.00 - 0000.00.00.0000</string>
				<key>text</key>
				<string>Version Snippet</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B26364AA-3E4F-41ED-B989-4A2931AD3A4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env zsh

# Get the argument passed (the two-digit number)
number="$1"

# Validate that the number consists of exactly two digits
if [[ ! "$number" =~ ^[0-9]{2}$ ]]; then
    echo "Error: Please enter exactly two digits after &gt;&gt; (e.g., &gt;&gt;43)"
    exit 1
fi

# Get current date and time in YYYY.mm.dd.HHMM format
datetime=$(date +"%Y.%m.%d.%H%M")

# Construct the replacement string
replacement="// v00.${number} - ${datetime}"

# Copy the replacement string to the clipboard
echo "$replacement" | pbcopy

# Output the replacement string for the next action
echo "$replacement"

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C187E8B1-016F-40A5-8998-E7481E131551</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>12653FE0-3551-4FC1-A758-B420D04921A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fe</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python3 ./utilities/feral-search.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search files in _FERAL directory</string>
				<key>title</key>
				<string>Search _FERAL</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A916CDD4-4FE8-47D2-ABF2-5F90DF774295</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>CB4AC72B-4B95-47FA-831C-165D6F41DA17</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Feral Keywords - CSV-Driven Workflow

This workflow is now CSV-driven for easy maintenance.

## Quick Start

1. Edit CSV files to add/modify shortcuts:
   - shortcuts-files.csv (file/folder shortcuts)
   - shortcuts-web.csv (web shortcuts)
   - shortcuts-apps.csv (app shortcuts)

2. Rebuild the workflow:
   ./rebuild.sh

3. Reload in Alfred

## Current Shortcuts

Files: scans, wtf, screenshots, ndr, www
Web: cu, nas, cloud, sonarr
Apps: faf
Utils: gclear, &gt;&gt;, fe

See README.md for full documentation.
</string>
	<key>uidata</key>
	<dict>
		<key>03A903B8-5A94-410F-B14D-43122D4D27F3</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>430.0</real>
		</dict>
		<key>0E16BE84-1370-4920-BC25-BE541A9AADC6</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
		<key>12653FE0-3551-4FC1-A758-B420D04921A1</key>
		<dict>
			<key>xpos</key>
			<real>450.0</real>
			<key>ypos</key>
			<real>1530.0</real>
		</dict>
		<key>1398AA56-0186-43A5-9552-A6203849E057</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>210.0</real>
		</dict>
		<key>1A9E6F4C-B308-489B-BF17-FE494A7BA9A0</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>650.0</real>
		</dict>
		<key>249F7E1B-4289-4252-AC78-9A570CA9ABCA</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>980.0</real>
		</dict>
		<key>32B72B5A-E053-4524-803D-FC5D75C804FF</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>760.0</real>
		</dict>
		<key>35172154-FE79-40FD-84D4-1685C2497B34</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1200.0</real>
		</dict>
		<key>3CF342DC-A63E-4A7B-9CE8-5DBC41668F42</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1420.0</real>
		</dict>
		<key>3D5D342C-6991-4F6A-ACE4-548F4E37296C</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1090.0</real>
		</dict>
		<key>3F7B58FE-9144-4A12-A16F-B7E638874201</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>430.0</real>
		</dict>
		<key>4D9F0355-88DE-42F4-8490-F9637FA247F4</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>760.0</real>
		</dict>
		<key>4DEB010B-CDB1-46A3-A51F-08BD1E8CD2A2</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
		<key>4FCAECC5-5EC0-4AE5-8AAE-829BB81F51A8</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>870.0</real>
		</dict>
		<key>51835E06-9213-43A0-B457-300509F93D84</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>60FA0B8E-2E24-44A1-97E2-048AD141F4CD</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>870.0</real>
		</dict>
		<key>730AF293-9B90-4011-8617-C04F25FD7BD7</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>79A613F1-3CE7-48F0-8976-C6E39C05B889</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1200.0</real>
		</dict>
		<key>7D17B0DA-8163-4854-A806-3EEABB422A91</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1310.0</real>
		</dict>
		<key>8348E892-4FE7-4BBF-B17B-760031DA9C99</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1310.0</real>
		</dict>
		<key>A916CDD4-4FE8-47D2-ABF2-5F90DF774295</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1640.0</real>
		</dict>
		<key>B26364AA-3E4F-41ED-B989-4A2931AD3A4D</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1530.0</real>
		</dict>
		<key>B3EEAA5B-74BA-4A3F-89F4-C2E4E9E558C2</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1420.0</real>
		</dict>
		<key>B8DAB9C7-77AC-4817-9B0E-16A751D25046</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>980.0</real>
		</dict>
		<key>C187E8B1-016F-40A5-8998-E7481E131551</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1530.0</real>
		</dict>
		<key>CB4AC72B-4B95-47FA-831C-165D6F41DA17</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>1640.0</real>
		</dict>
		<key>CC53D194-AD4D-41CB-BDAE-4D75D4CA905D</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>540.0</real>
		</dict>
		<key>CDDCA8C8-9344-4341-96C6-7C5E2CEE2B92</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>540.0</real>
		</dict>
		<key>E5DB5072-8229-4419-9E1A-3A0DD3CC508A</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>650.0</real>
		</dict>
		<key>EB8EE018-F7A8-4BE3-BECD-99456AAE13C0</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>1090.0</real>
		</dict>
		<key>EFAA193F-43BA-426C-A247-0E06E6565F31</key>
		<dict>
			<key>xpos</key>
			<real>270.0</real>
			<key>ypos</key>
			<real>210.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.15</string>
	<key>webaddress</key>
	<string>http://feralcreative.co</string>
</dict>
</plist>
