<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.feralcreative.3dprintutils</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>312AEBC5-A512-4885-80AC-73DA48575E4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1E085B6-8ACB-40C6-ADEF-1C52439383FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8FDE128-B37C-4437-9A0B-5918092C0A56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28C76594-F11A-4776-A8DD-0ADED7D2616A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DBBAFA2E-17BA-4C07-A379-14744E05A987</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Feral Creative</string>
	<key>description</key>
	<string>Search 3D model sites simultaneously</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>3D Print Utils</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>3d</string>
				<key>subtext</key>
				<string>Search Printables, Thingiverse, Thangs, MakerWorld</string>
				<key>text</key>
				<string>Search 3D Models</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>312AEBC5-A512-4885-80AC-73DA48575E4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>at.obdev.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.printables.com/search/models?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E1E085B6-8ACB-40C6-ADEF-1C52439383FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>at.obdev.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.thingiverse.com/search?q={query}&amp;page=1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F8FDE128-B37C-4437-9A0B-5918092C0A56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>at.obdev.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://thangs.com/search/{query}?searchScope=thangs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>28C76594-F11A-4776-A8DD-0ADED7D2616A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>at.obdev.Choosy</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://makerworld.com/en/search/models?keyword={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DBBAFA2E-17BA-4C07-A379-14744E05A987</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>uidata</key>
	<dict>
		<key>28C76594-F11A-4776-A8DD-0ADED7D2616A</key>
		<dict>
			<key>xpos</key>
			<real>340.0</real>
			<key>ypos</key>
			<real>280.0</real>
		</dict>
		<key>312AEBC5-A512-4885-80AC-73DA48575E4A</key>
		<dict>
			<key>xpos</key>
			<real>90.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>DBBAFA2E-17BA-4C07-A379-14744E05A987</key>
		<dict>
			<key>xpos</key>
			<real>340.0</real>
			<key>ypos</key>
			<real>370.0</real>
		</dict>
		<key>E1E085B6-8ACB-40C6-ADEF-1C52439383FC</key>
		<dict>
			<key>xpos</key>
			<real>340.0</real>
			<key>ypos</key>
			<real>100.0</real>
		</dict>
		<key>F8FDE128-B37C-4437-9A0B-5918092C0A56</key>
		<dict>
			<key>xpos</key>
			<real>340.0</real>
			<key>ypos</key>
			<real>190.0</real>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>http://feralcreative.co</string>
</dict>
</plist>
